*{
    margin: 0;
    padding: 0;
}

body{
    background-color: lightyellow;
    flex-wrap: wrap;
    min-height: 100vh;
    overflow-x: hidden;
}

/*HEADER*/

.logo{
    height: 100px;
    width: 100px;
    margin-left: 30%;
    border-radius: 100%;
}

.navbar{
    background-image: url(./imagenes/backbarra.jpg);  
}

.navbar-nav li{
    margin-left: 25%;
    margin-top: 5%;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-weight: bolder;
}

.nav-link{
    color:white;
}
.nav-link:hover{
    transform: scale(2);
    transition: 2s;
    text-decoration: overline;
}

/*MAIN INDEX*/  

.main{
    min-height: 100vh;
}

h1{
    text-align: center;
    margin-left: -2%;
    margin-top: 15px;
    font-size: 60px;
    font-family: 'Germania One', cursive;
    color: mediumpurple;
}

.corazon{
    width: 50px;
    height: 50px;
    margin-left: 65%;
    margin-top: -7.5%;
    animation-name: latir;
    animation-duration: 1s;
    animation-iteration-count: infinite;

}

@keyframes latir{
    0%{
        transform: scale(0);
    }
    20%{
        transform: scale(.5);
    }
    40%{
        transform: scale(1);
    }
    60%{
        transform: scale(1.5);
    }
    80%{
        transform: scale(1);
    }
    100%{
        transform: scale(.5);
    }
}

h5{
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
    color: mediumpurple;
}

.palabra{
    font-weight: 800;
}

.carousel-inner{
    width: 100%;
    margin-top: 4%;
    margin-left: 1%;
    margin-bottom: 2%; 
}

.carousel-item{
    width: 190vh;
    height: 100vh;
    margin-left: 3%;  
}

/* HiSTORIA*/

h2{
    margin-left: 15%;
    text-decoration: underline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    color: red;
}

p{
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:600;
    font-size: 20px;
    color: mediumpurple;
}

.name{
    margin-left: 20%;
    font-style: italic;
    color: black;
    font-weight: lighter;
    margin-bottom: 2%;
  

}

.caza1{
   border-radius: 100%;
   margin-left: 28%;
   margin-bottom: 2%;
}
.caza{
    border-radius: 100%;
    float: right;
    margin-top: 1%;
    margin-right: 2%;
}

/* TIPOS*/

.pelos{
    margin-left: 3%;
    margin-bottom: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:600;
    font-size: 17px;
    color: mediumpurple;
    font-style: italic;
}

div.galeria{
    margin: 4px 50px ;
    box-shadow: 0 4px 8px lightblue, 0 6px 20px 0 rgb(0,0,0,0.19);
    float: left;
}

div.galeria img{
    width: 100%;
    height: auto;
}
 div.galeria:hover{
     border: 1px solid lightcoral;
     transform: rotate(-3deg);
 }

div.pie{
    text-align: center;
    color: purple;
    padding: 10px;
}

/*CUIDADOS*/

.mainContent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px;
    justify-items: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-right: 5%;
}
.mainContent_card{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 2%;
}

.problemas{
  margin-left: 5%;
  border-radius: 5% ;
  border: 1px solid violet;
  box-shadow: 0 4px 8px lightblue, 0 6px 20px 0 rgb(0,0,0,0.19);
}

/* QUIENES SOMOS*/

.fot{
    margin-left: 40%;
    margin-bottom: 2%;
    border-radius: 5%;
}
h6{
    margin-left: 42%;
    font-style: italic;
    margin-bottom: 2%;
  
}

/*CONTACTO*/
.formulario{
    margin-left: 30%;
    margin-top: 5%;
    font-weight: bolder;
    color: red;
}
.tel{
    margin-top: 2%;
}
.mb-3{
    margin-top: 2%;
    margin-right: 30%;
}
.button{
    margin-left: 30% ;
    
}

/*FOOTER*/

.footer{
    height:80px;
    background:rgb(112, 92, 109);
    color:white;
    bottom:0;
    left:0;
    width:100%;
    flex-direction: row; 
    
}

.footer__redes{
    display: flex;
    justify-content:space-evenly;
    list-style: none; 
    position: relative; 
    padding-top: 2%; 
    padding-left: 35%; 
    padding-right: 40%;
}

a{
    color: white;
}
a:hover{
   color: rgb(114, 6, 60);
}

