$color-principal: mediumpurple;
$color-secundario: red;

$tipografia-principal: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

/* MAPS*/

$tamanio-tipografia:(
    titulo:60px,
    subtitulos: predeterminado,
    parrafos: 20px,

);